# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Alembic cache
alembic/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / coverage
.pytest_cache/
.coverage

# Frontend
node_modules/
dist/
build/

# Database
*.db

# Uploaded files
uploads/

# Hugging Face deployment repo
docsy-backend/